.card {
  margin-bottom: 2rem;
  margin-right: 2rem;
  max-width: 300px;
  width: 100%;
}
.card__headline {
  padding: 0 1rem;
  width: 100%;
}
.card__copy {
  font-size: 14px;
  font-weight: 400;
  padding: 0 1rem;
}
.card__image {
  max-height: 170px;
}